@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
body {
    opacity: 0;
    transition: opacity 3s;
    /*background-image: url("images/pexels1.jpg");*/
	background-size: cover;
}


p{
    font-size: 16px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 200px;
    
}
.nav .link .li{
    float: left;
}
.nav .link ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    float: left;
}

.nav .link ul a {
    text-decoration: none;
    color: #2a2a2a;
    font-weight: 600;
    transition: all 2000ms ease-in-out;
    font-size: 16px;
    float: left;
}

ul a .active {
    color: #f4637b;
}

.nav .link ul a:hover {
    color: #f4637b;
}

/* Container for skill bars */
.skill-container{
    width: 100%;
    height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
}
.skills h2{
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: black;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.progress-bar{
    background: #000;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}
.progress-bar div{
    height: 10px ;
    border-radius: 5px;
    width: 50% ;
   
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50% ;
    background: #222;
    float: right ;
    margin-top: -15px;
    margin-right:-20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
}
.html {
    background: #778899;
    animation: html 5s linear infinite;
}

.css {
    background: #6f7c80;
    animation: css 5s linear infinite;
}

.javascript {
    background: #0f0f0f;
    animation: javascript 5s linear infinite;
}

.php {
    background: #064469;
    animation: php 5s linear infinite;
}

.sql {
    background: #7f7f7f;
    animation: sql 5s linear infinite;
}

.csharp {
    background: #5790ab;
    animation: csharp 5s linear infinite;
}

.html span{
    border: 1px solid #a7afb2
}
.css span{
    border: 1px solid #0f0f0f
}
.javascript span{
    border: 1px solid #6f7c80
}
.php span{
    border: 1px solid #064469
}
.sql span{
    border: 1px solid #7f7f7f
}
.csharp span{
    border: 1px solid #5790ab
}
@keyframes html{
    100%{
        width:95%;
    }
}
@keyframes html{
    100%{
        width:86%;
    }
}
@keyframes css{
    100%{
        width:75%;
    }
}
@keyframes javascript{
    100%{
        width:70%;
    }
}
@keyframes php{
    100%{
        width:65%;
    }
}
@keyframes sql{
    100%{
        width:73%;
    }
}
@keyframes csharp{
    100%{
        width:80%;
    }
}
.skill-container .heading h1{
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: black;
    text-align: center;
}
.footer {
    background-color: #f7ebf330;
  }
  
  .footer__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
  }
  
  .footer__logo a {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
  }
  
  .footer__col p {
    font-size: 1.25rem;
    color: var(--white);
    text-align: center;
  }
  
  .footer__socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .footer__socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1;
    font-size: 1.5rem;
    color: var(--white);
    background-color: #f7ebf330;
    border-radius: 100%;
  }
  
  .footer__bar {
    font-size: 1.5rem;
    color: var(--white);
    text-align: center;
  }
  